*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(42, 44, 72);
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    display: grid;
    place-items: center;
}

header{
    position: fixed;
    top: 0;
    z-index: 100;
    background: linear-gradient(rgba(39,39,39, 0.6), transparent);
    width: 100vw;
    height: 100px;
}

nav{
    width: 100%;
    display: grid;
    grid-template-columns: 100px 1fr auto;
    padding: 20px;
}

.login-signUp{
    grid-column: 3/4;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    padding-right: 20px;
}

.link{
    text-decoration: none;
    font-weight: 500;
    color: #fff;
    padding-bottom: 15px;
    margin: 0 25px;
    text-align: center;
    transition: all 0.15s;
}
.link:hover{
    border-bottom: 2px solid #fff;
}

.btn{
    text-decoration: none;
    display: grid;
    place-items: center;
    width: 130px;
    height: 40px;
    font-weight: 500;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 30px;
    cursor: pointer;
    transition: .3s ease;
    color: white;
}

.btn:hover{
    background: rgba(255, 255, 255, 0.3);
}

main{
    background-color: rgb(42, 44, 72);
    width: auto;
    margin-top:50px;
}

#longurl{
    height: 40px;
    width: 296px;
    border: 2px solid black;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 20px;
    font-size: large;
    font-family: monospace;
    font-weight: bold;
}

#shorten{
    height: 40px;
    width: 80px;
    border: 2px solid black;
    border-radius: 10px;
    font-size: large;
    font-weight: bold;
    font-family: monospace;
    color: white;
    background-color: rgb(19, 0, 128);
    cursor: pointer;
}

#shorten:hover{
    background-color: skyblue;
}

#shorturl{
    height: 40px;
    width: 270px;
    border: 2px solid black;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 47px;
    font-size: large;
    font-family: monospace;
    font-weight: bold;
}

#copy{
    position: relative;
    top: 22%;
    left: 0%;
    height: 35px;
    width: 35px;
    border: 2px solid black;
    border-radius: 10px;
    color: white;
    background-color: rgb(19, 2, 169);
}

#copy:hover{
    background-color: skyblue;
}

#sign{
    height: 50px;
    width: 200px;
    margin: 30px 0;
    border: 2px solid black;
    border-radius: 10px;
    font-size: large;
    font-weight: bold;
    font-family: monospace;
    background-color: rgb(19, 0, 128);
}

#sign a{
    color: white;
    text-decoration: none;
}

#sign:hover{
    background-color: skyblue;
}

h2{
    height: 60px;
    width: 400px;
    margin: 30px 0;
    font-size: 50px;
    font-family: monospace;
    font-weight: bold;
    color: rgb(252, 246, 246);
}