*{
    padding: 0px 0px;
    margin: 0px 0px;
}

body{
    background-color: rgb(42, 44, 72);
}

.nav{
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    line-height: 100px;
    background: linear-gradient(rgba(39,39,39, 0.6), transparent);
    z-index: 100;
}

.nav-menu ul li .link{
    text-decoration: none;
    font-weight: 500;
    color: #fff;
    padding-bottom: 15px;
    margin: 0 25px;
}
.link:hover, .active{
    border-bottom: 2px solid #fff;
}

.nav-button .btn{
    width: 130px;
    height: 40px;
    font-weight: 500;
    background: rgba(255, 255, 255, 0.4);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s ease;
    color: white;
}

.btn:hover{
    background: rgba(255, 255, 255, 0.3);
}

.main{
    position: relative;
    background-color: rgb(42, 44, 72);
    height: 200px;
    width: 500px;
    top: 80%;
    left: -10%;
    transform: translate(-50%,50%);
    border: 5px solid rgb(42, 44, 72);
    border-radius: 20px;
}

#longurl{
    position: relative;
    top: 40%;
    left: 10%;
    height: 40px;
    width: 296px;
    border: 2px solid black;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 20px;
    font-size: large;
    font-family: monospace;
    font-weight: bold;
}

#shorten{
    position: relative;
    top: 40%;
    left: 12%;
    height: 40px;
    width: 80px;
    border: 2px solid black;
    border-radius: 10px;
    font-size: large;
    font-weight: bold;
    font-family: monospace;
    color: white;
    background-color: rgb(19, 0, 128);
}

#shorten:hover{
    background-color: skyblue;
}

#shorturl{
    position: relative;
    top: 20%;
    left: 10%;
    height: 40px;
    width: 270px;
    border: 2px solid black;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 47px;
    font-size: large;
    font-family: monospace;
    font-weight: bold;
}

#copy{
    position: relative;
    top: 22%;
    left: 0%;
    height: 35px;
    width: 35px;
    border: 2px solid black;
    border-radius: 10px;
    color: white;
    background-color: rgb(19, 2, 169);
}

#copy:hover{
    background-color: skyblue;
}

#sing{
    position: relative;
    top: 5%;
    left: 12%;
    height: 50px;
    width: 200px;
    border: 2px solid black;
    border-radius: 10px;
    font-size: large;
    font-weight: bold;
    font-family: monospace;
    color: white;
    background-color: rgb(19, 0, 128);
}

#sing:hover{
    background-color: skyblue;
}
.main p{
    /* background-color: white; */
    position: relative;
    top: 30%;
    left: 13%;
    height: 60px;
    width: 400px;
    font-size: 50px;
    font-family: monospace;
    font-weight: bold;
    color: rgb(252, 246, 246);
}