body {
    background-color: rgb(42, 44, 72);
    font-family: "Roboto", sans-serif;
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    display: grid;
    place-items: center;
  }
  
  .login-box {
    width: 360px;
    margin: auto;
    border-radius: 3px;
    background-color: white;
    padding: 10px;
  }
  
  h1 {
    text-align: center;
    padding-top: 15px;
  }
  
  h4 {
    text-align: center;
  }
  
  form {
    width: 300px;
    margin-left: 20px;
  }
  
  form label {
    display: flex;
    margin-top: 20px;
    font-size: 18px;
  }
  
  form input {
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid gray;
    border-radius: 6px;
    outline: none;
  }
  input[type="button"] {
    width: 320px;
    height: 35px;
    margin-top: 20px;
    border: 2px solid black;
    background-color: rgb(19, 0, 128);
    color: white;
    font-size: 18px;
  }

  input[type="button"]:hover {
    background-color: skyblue;
}
  p {
    text-align: center;
    padding-top: 20px;
    font-size: 15px;
  }
  .para-2 {
    text-align: center;
    color: white;
    font-size: 15px;
    margin-top: -10px;
  }
  .para-2 a {
    color: skyblue;
  }
  
  .error{
    color: red;
  }
    